%li.commit
  .row-fluid
    .span7
      .message= link_to commit.title, browse_commits_root_path(@repository.path, commit.commit_hash)
      .time-author
        by
        = commit.committer_name 
        = time_ago_in_words(commit.committer_time)
        ago
    .span5
      .pull-right.short_hash
        .btn-group.pull-right
          = link_to commit.short_hash, browse_commits_root_path(@repository.path, commit.commit_hash), class: 'btn'
          - if @current_file
            = render partial: 'download_file' 
            = link_to browse_commits_path(@repository.path, commit.commit_hash, @url), class: 'btn' do
              %i.icon-file 
              Show
    .clearfix