#create-confirm.modal.fade
  .modal-header
    %a.close{ 'data-dismiss' => 'modal' } x
    %h3 Create directory
  = form_tag repository_path(@repository.path), class: 'form-horizontal', method: :get do
    = hidden_field_tag 'url', @url
    .modal-body
      .control-group
        = label_tag 'Directory name', nil, class: 'control-label'
        .controls
          %span.help-block
            = @url + '/'
          = text_field_tag 'url', nil, class: 'input-large'
    .modal-footer
      = button_tag 'Create', class: 'btn btn-primary'
      %a.btn{ href: '#', 'data-dismiss' => 'modal' } Cancel