.well.well-small.read-file
  .row-fluid
    .span6
      %h2= @current_file[:name]
    .span6
      .btn-group.pull-right
        = link_to raw('<i class="icon-edit"></i> Edit'), '#', class: 'btn btn-primary' if @current_file[:mime_category] == 'text' && user_signed_in?
        = link_to raw('<i class="icon-download-alt"></i> Download'), raw_repository_path(@repository, @url), class: 'btn'
        = link_to 'History', '#', class: 'btn'
        = link_to raw('<i class="icon-trash"></i> Delete'), delete_file_repository_path(@repository.path, @url), method: :delete,
              'data-confirm' => "Are you sure to delete the file #{@current_file[:name]}?", 
              'data-head' => 'Delete file', class: 'btn delete-confirm' if user_signed_in?
  .clearfix
  - case @current_file[:mime_category]
  - when 'text'
    .file-content
      = form_for(@repository, url: update_file_repository_path(@repository.path, @url), method: :post, html: {class: 'form-horizontal'}) do |f|
        = text_area_tag 'content', @current_file[:content], class: 'input-xxlarge', id: 'code-area', 'data-mime-type' => @current_file[:mime_type]
  - when 'image'
    .image-content
      = image_tag raw_repository_path(@repository, @url), alt: @current_file[:name]
  - else 
    .alert.alert-info
      Cannot display this filetype.
    = link_to raw('<i class="icon-download-alt"></i> Download'), raw_repository_path(@repository, @url), class: 'btn'
