.well.well-small.read-file
  .row-fluid
    .span6
      %h2= @current_file[:name]
    .span6
      .btn-group.pull-right
        = link_to raw('<i class="icon-edit"></i> Edit'), '#', class: 'btn edit-file', 'data-replace' => '<i class="icon-edit"></i> Commit changes' if @current_file[:mime_category] == 'text' && user_signed_in?
        = link_to raw('<i class="icon-download-alt"></i> Download'), raw_repository_path(@repository, @url), class: 'btn'
        = link_to 'History', '#', class: 'btn'
        = link_to raw('<i class="icon-trash"></i> Delete'), delete_file_repository_path(@repository.path, @url), method: :delete,
              'data-confirm' => "Are you sure to delete the file #{@current_file[:name]}?", 
              'data-head' => 'Delete file', class: 'btn delete-confirm' if user_signed_in?
  .clearfix
  - case @current_file[:mime_category]
  - when 'text'
    - if @current_file[:size] <= Bringit::Application.config.max_read_filesize
      .file-content
        = form_for(@repository, url: update_file_repository_path(@repository.path, @url), method: :post, html: {class: 'form-horizontal edit-form'}) do |f|
          - if user_signed_in?
            .hidden-options
              .pull-right.well.well-small
                = label_tag 'message', raw('<abbr class="required">*</abbr> Commit message')
                = text_area_tag 'message', @message || '', class: 'input-xxlarge'
              .clearfix  
          = text_area_tag 'content', @current_file[:content], class: 'input-xxlarge', id: 'code-area', 
            'data-mime-type' => get_mime_string(@current_file[:name], @current_file[:mime_type])
              
    - else 
      .alert.alert-info
        File too large to display.
      = link_to raw('<i class="icon-download-alt"></i> Download'), raw_repository_path(@repository, @url), class: 'btn'
  - when 'image'
    .image-content
      = image_tag raw_repository_path(@repository, @url), alt: @current_file[:name]
  - else 
    .alert.alert-info
      Cannot display this filetype.
    = link_to raw('<i class="icon-download-alt"></i> Download'), raw_repository_path(@repository, @url), class: 'btn'
