%article.well.well-small.box
  .top.row-fluid
    .span9
      %h1= link_to repository.title, repository_path(repository.path)
    .span3
      .path.pull-right= repository.path
    .clearfix
  .row-fluid
    .span2
      %i.icon-sitemap.icon-4x
      .browse-history
        = link_to 'Browse History', repositories_path, class: 'btn btn-primary'
    .span10
      %ol
        - repository.commits.each do |commit|
          %li.commit
            .row-fluid
              .span9
                .message= link_to commit.message_title, repositories_path
                .time-author
                  by
                  = commit.committer_name 
                  = time_ago_in_words(commit.committer_time)
                  ago
              .span3
                .pull-right.short_hash
                  = link_to commit.short_hash, repositories_path, class: 'btn'
              .clearfix