%ul.breadcrumb
  - unless @is_head
    %li
      %span.label.label-info= @current_commit.short_hash
  - repository_breadcrumbs(@repository, @breadcrumbs,@is_head,@oid).each do |crumb|
    - if crumb[:last]
      %li.active
        = crumb[:name]
    - else
      %li
        = link_to crumb[:name], crumb[:path]
        %span.divider /

- if @current_file
  = render partial: 'read_file'
- else
  - if @contents.empty?
    .muted
      This folder is empty
  - else
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th{ style: 'width:10%;' } &nbsp;
          %th{ style: 'width:30%;' } File name
          %th{ style: 'width:25s%;' } Last modified
          %th{ style: 'width:35%;' } Last commit
      %tbody
        - @contents.each do |entry|
          %tr
            %td{ style: 'text-align: center' }
              - if entry[:type] == :dir
                %i.icon-folder-close
              - else
                %i.icon-file
            %td
              - if @is_head
                = link_to entry[:name].force_encoding('UTF-8'), browse_repository_path(@repository.path, entry[:path]) #FIXME force_encoding is needed due to errors in rugged
              - else
                = link_to entry[:name].force_encoding('UTF-8'), browse_commits_path(@repository.path, @oid, entry[:path]) #FIXME force_encoding is needed due to errors in rugged              
            %td &nbsp;
            %td &nbsp;

  - if user_signed_in?
    %hr
    = render partial: 'upload'