.row
  .span8
    %h1.repository-title
      - if user_signed_in?
        %span.editable-notice 
          %i.icon-pencil
        %span.changeable-title= @repository.title
      - else
        = @repository.title
    
    = form_for(@repository, url: repository_path(@repository), method: :post, html: {class: 'form-inline', id: 'edit-title-form'}) do |f|
      .input-append
        = f.text_field :title, maxlength: 32
  .span4
    .pull-right
      .input-append{style: 'padding-top:10px'}
        %input.span3{type: 'text', value: @repository.ssh_url }
        %span.add-on
          %i.icon-sitemap
.clearfix
.well.well-small.repository-description
  - if user_signed_in?
    %span.editable-notice 
      %i.icon-pencil
    .changeable-description  
      = best_in_place_if user_signed_in?, @repository, :description, type: :textarea, classes: 'repository-description'
  - else
    %span= @repository.description
.row
  .span9.muted
    %i.icon-calendar
    last updated
    = time_ago_in_words(@repository.updated_at)
    ago
    created on
    = @repository.created_at.strftime("%d.%m.%Y")
  - if user_signed_in?
    .span3
      .pull-right
        .dropdown
          %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', href: "#"}
            %i.icon-cog
            Options
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: '#add-contributors', 'data-toggle' => 'tab'}
                %i.icon-plus
                Add contributors 
            %li.divider
            %li= link_to raw('<i class="icon-trash"></i> Delete repository'), repository_path(@repository.path), method: :delete,
              'data-confirm' => "Are you sure to remove the repository #{@repository.title} permanently?", 'data-id' => @repository.path, 
              'data-head' => 'Remove repository', class: 'delete-confirm'
              
.clearfix

.authored
  authored by
  = raw @repository.contributors[0..1].map { |contributor| link_to contributor.email, '#' }.join(", ")
    
  - if @repository.contributors.size > 2
    %span.muted
      and 
      = link_to "#{(@repository.contributors.size-3)} other #{(@repository.contributors.size-3) > 1 ? 'users' : 'user'}", '#'

%hr