.row
  .span4
    = link_to raw('<i class="icon-plus"></i> Create directory'), browse_repository_path(@repository.path, @url), method: :get,
                  'data-head' => 'Create directory', class: 'create-confirm btn btn-primary'
    .modal-input
      = render(partial: 'create_directory')
  .span8
    = form_for(@repository, url: repository_upload_path(@repository.path), method: :post, html: {class: 'form-inline pull-right', multipart: true}) do |f|
      = hidden_field_tag 'url', @url
      .fileupload.fileupload-new{ 'data-provides' => 'fileupload' }
        .input-append
          .uneditable-input.span2
            %i.icon-file.fileupload-exists
            %span.fileupload-preview
          %span.btn.btn-file
            %span.fileupload-new Select File
            %span.fileupload-exists Change
            %input{ type: 'file', name: 'file' }
          %a.btn.fileupload-exists{ 'data-dismiss' => 'fileupload', href: '#' } Remove
          %input{ type: 'text', name: 'message', placeholder: 'Commit message...', style: 'margin-left:5px;' }
        = button_tag raw('<i class="icon-upload"></i> Upload file'), class: 'btn btn-primary'
    .clearfix