- provide(:title, 'Repositories')
%h1 Search '#{@term}'

.row
  .span6.back-button
    = link_to 'Show all repositories', repositories_path, class: 'btn'
  .span6  
    .pull-right= paginate @repositories
.clearfix    

- if @repositories.empty?
  .muted
    Nothing matched your search
- else
  = render partial: 'repository', collection: @repositories
  
.well.pull-right.well-small= page_entries_info @repositories
.clearfix
