- provide(:title, @repository.title)

- if @is_head
  = render partial: 'show_top'
- else
  = render partial: 'show_top_commits'  

= render partial: 'show_tabs'

.tab-content
  #files.tab-pane.active
    - unless @repository.commits.empty? 
      - commit = (@is_head ? @repository.commits.first : @current_commit)
        
      .well.well-small.box
        %ol
          %li.commit
            .row-fluid
              .span9
                .message
                  - message = get_message(commit)
                  %h2
                    - unless message[:body].empty?
                      = link_to '#', class: 'open-full' do
                        %i.icon-plus
                    = link_to message[:title], browse_commits_root_path(@repository.path, commit.commit_hash)
                  - unless message[:body].empty?
                    .full-message= message[:body]
                .time-author
                  by
                  = commit.committer_name 
                  = timestamp(commit.committer_time)
              .span3
                .pull-right.short_hash
                  = link_to commit.short_hash, browse_commits_root_path(@repository.path, commit.commit_hash), class: 'btn'
              .clearfix
    = render partial: 'show_files'
     