- provide(:title, @repository.title)

= render partial: 'show_top'

%ul.nav.nav-tabs{id: 'repository-tabs'}
  %li.active
    = link_to 'Files', repository_path(@repository.path)
  %li
    = link_to 'Commits', commits_path(@repository.path)

.tab-content
  #files.tab-pane.active
    - unless @repository.commits.empty? 
      .well.well-small.box
        %ol
          %li.commit
            .row-fluid
              .span9
                .message= link_to @repository.commits.first.message_title, '#'
                .time-author
                  by
                  = @repository.commits.first.committer_name 
                  = time_ago_in_words(@repository.commits.first.committer_time)
                  ago
              .span3
                .pull-right.short_hash
                  = link_to @repository.commits.first.short_hash, '#', class: 'btn'
              .clearfix
    = render partial: 'show_files'
     