!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all"
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    = render 'layouts/development_bar' if development_mode?
    .container
      = render 'layouts/flash_messages'
      = yield
      = render 'layouts/footer'
    = javascript_include_tag "application"
    #modal.modal.fade
    = render 'layouts/delete_confirm'
    #spinner
      .inner
        %i.icon-spinner.icon-spin.icon-4x
