!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/development_bar' if development_mode?
    = render 'layouts/header'
    .container
      =if flash[:error]
        .alert.alert-error
          %button.close{ 'data-dismiss' => 'alert', type: 'button' } &times;
          =flash[:error]
      =if alert || flash[:warning]
        .alert.alert-block
          %button.close{ 'data-dismiss' => 'alert', type: 'button' } &times;
          =alert || flash[:warning] 
      =if notice || flash[:notice]
        .alert.alert-info
          %button.close{ 'data-dismiss' => 'alert', type: 'button' } &times;
          =notice || flash[:notice]
      =if flash[:success]
        .alert.alert-success
          %button.close{ 'data-dismiss' => 'alert', type: 'button' } &times;
          =flash[:success]
      = yield
      = render 'layouts/footer'
    = javascript_include_tag "application"
